<!DOCTYPE html>
<html xmlns="https://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Name</title>
</head>
<body>
	<p>ようこそ<span th:text="${name}">あなた</span></p>
	
	<span>現在登録されているユーザー一覧</span>
	<table border="1">
		<tr>
			<th>employee_id</th>
			<th>first_name</th>
			<th>last_name</th>
			<th>email</th>
			<th>hire_date</th>
			<th>salary</th>
			<th>department_id</th>
		</tr>
		<tr th:each="emp : ${emps}">
			<td th:text="${emp.employee_id}"></td>
			<td th:text="${emp.first_name}"></td>
			<td th:text="${emp.last_name}"></td>
			<td th:text="${emp.email}"></td>
			<td th:text="${emp.hire_date}"></td>
			<td th:text="${emp.salary}"></td>
			<td th:text="${emp.department_id}"></td>
		</tr>
	</table>
</body>
</html>